<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can view your password here.</p>
            <div class="panel-body">
              <form id="register-form" role="form" autocomplete="off" class="form" (ngSubmit)="onSubmit(forgotpasswordForm)" #forgotpasswordForm="ngForm">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input ngModel name="username" placeholder="username" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="View Password" type="submit">
                </div>
                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>
                <h4 class="text-info" *ngIf="password">Your password is: {{ password }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>